<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/starability-basic.min.css">
        <link href="/stylesheets/app.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default" style="background-color: #428BCA;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/"><strong><i class="fa fa-free-code-camp"></i>YelpCamp</strong></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                            <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %> link"><a href="/campgrounds">Home</a></li>
                        <% if(!currentUser){ %>
                            <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> link"><a href="/login">Login</a></li>
                            <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %> link"><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li><a href="/users/<%= currentUser._id %>">Signed In As <%= currentUser.username %></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class='container'>
            <% if (error && error.length > 0) { %>
                <div class='alert alert-danger' role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if (success && success.length > 0) { %>
                <div class='alert alert-success' role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>

